#Import file

In [41]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [42]:
with open("data/laser_log/laser_log.csv", "r") as filename:
    laser_db = pd.read_csv(filename, delimiter=";")

laser_db.head()

   cnt      time[ns]  angle[rad]  range[m]    pos_x    pos_y   pos_yaw
0    1  234629000000    -3.14159       inf  6.20428  10.1687 -0.001815
1    1  234629000000    -3.13285       inf  6.20428  10.1687 -0.001815
2    1  234629000000    -3.12411       inf  6.20428  10.1687 -0.001815
3    1  234629000000    -3.11537       inf  6.20428  10.1687 -0.001815
4    1  234629000000    -3.10664       inf  6.20428  10.1687 -0.001815

#Preprocessing data

In [4]:
laser_inst= []
inst = 1 #il counter delle istanze inizia da 1
temp=[]

for i in laser_db.values:
    if i[0] == inst:
        temp.append(i)
    else:
        laser_inst.append(temp)
        temp=[]
        temp.append(i)
        inst+=1

In [11]:
counter={}

for i in laser_inst:
    for j in i:
        if(j[2] in counter.keys()):
            counter[j[2]]+=1
        else:
            counter[j[2]]=1

In [4]:
features = None
targets = None

In [65]:
features = laser_db.copy()

In [84]:
laser_inst= pd.DataFrame()
target_list= pd.DataFrame()
inst = 1 #il counter delle istanze inizia da 1
inst_angle=[]
inst_range=[]
target_inst=pd.Series(dtype="float64")

for i in features.values:
    if i[0] == inst:
        inst_angle.append(i[2])
        inst_range.append(i[3])
    else:
        if False:
            inst_time["time"] = i[1]
            inst_time.name= inst
        temp= pd.Series([inst_angle,inst_range], name=inst)
        laser_inst= pd.concat([laser_inst,temp], axis=1) 
        
        target_inst["pos_x"] = i[4]
        target_inst["pos_y"] = i[5]
        target_inst["pos_yaw"] = i[6]
        target_inst.name= inst
        #target_list=pd.concat([target_list,target_inst.array],axis=1)

        inst_angle = []
        inst_range = []

        inst_angle.append(i[2])
        inst_range.append(i[3])
        inst+=1

laser_inst = laser_inst.T
target_list= target_list.T

In [85]:
laser_inst

,0,1
1,"[-3.14159, -3.13285, -3.12411, -3.11537, -3.10...","[inf, inf, inf, inf, inf, inf, inf, inf, inf, ..."
2,"[-3.14159, -3.13285, -3.12411, -3.11537, -3.10...","[inf, inf, inf, inf, inf, inf, inf, inf, inf, ..."
3,"[-3.14159, -3.13285, -3.12411, -3.11537, -3.10...","[inf, inf, inf, inf, inf, inf, inf, inf, inf, ..."
4,"[-3.14159, -3.13285, -3.12411, -3.11537, -3.10...","[inf, inf, inf, inf, inf, inf, inf, inf, inf, ..."
5,"[-3.14159, -3.13285, -3.12411, -3.11537, -3.10...","[inf, inf, inf, inf, inf, inf, inf, inf, inf, ..."
...,...,...
900,"[-3.14159, -3.13285, -3.12411, -3.11537, -3.10...","[inf, inf, inf, inf, inf, inf, inf, inf, inf, ..."
901,"[-3.14159, -3.13285, -3.12411, -3.11537, -3.10...","[inf, inf, inf, inf, inf, inf, inf, inf, inf, ..."
902,"[-3.14159, -3.13285, -3.12411, -3.11537, -3.10...","[inf, inf, inf, inf, inf, inf, inf, inf, inf, ..."
903,"[-3.14159, -3.13285, -3.12411, -3.11537, -3.10...","[inf, inf, inf, inf, inf, inf, inf, inf, inf, ..."
904,"[-3.14159, -3.13285, -3.12411, -3.11537, -3.10...","[inf, inf, inf, inf, inf, inf, inf, inf, inf, ..."

In [71]:
from tensorflow.keras import layers, models
from

2022-03-15 15:44:09.369436: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-03-15 15:44:09.369475: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [72]:
def model_define(features, drop_rate):

    tf.summary.image("laser_inst", features)

    model = models.Sequential()

    model.add(layers.Conv2D(
        filters=32, kernel_size=3, padding="same",
        name="conv_1" ))
    model.add(layers.Conv2D(
        filters=64, kernel_size=3, padding="same",
        name="conv_2" ))
    model.add(layers.MaxPooling2D(
        pool_size=2, strides=2, padding="same",
        name="pool_1" ))
    model.add(layers.Conv2D(
        filters=256, kernel_size=3, padding="same",
        name="conv_3" ))
    model.add(layers.MaxPooling2D(
        pool_size=2, strides=2, padding="same",
        name="pool_2" ))

    model.add(layers.Flatten())

    model.add(layers.Dropout(drop_rate))
    model.add(layers.Dense(1024, name="dense_1"))

    model.add(layers.Dense(128, activation="relu", name="dense_2"))

    model.add(layers.Dense(3, activation="relu", name="dense_3"))

    return model